.Box {
  padding: 15px;
  margin: 15px;
  min-width: 300px;
  background: #1d1d1d;
  border-radius: 5px;
  box-shadow: 0 0 0 2px #1d1d1d;

  &__title {
    color: #a2a2a2;
    font-size: 14px;
    margin-bottom: 10px;
  }
}
