.GameBoard {
  &__item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 3px;
    box-shadow: 0 0 0 1px black;
    width: 40px;
    height: 40px;

    &--black {
      background: black;
    }

    &--red {
      background: #f44336;
    }

    &--green {
      background: #4caf50;
    }
  }
}
