.StatsLog {
  overflow-x: auto;

  &__table {
    border-collapse: collapse;
    &-title {
      border: 1px solid #464646;
      padding: 10px;

      &--cold {
        background: #3f51b5;
      }
      &--hot {
        background: #b71c1c;
      }
    }
    &-item {
      text-align: center;
      padding: 10px;
      min-width: 18px;
      border: 1px solid #464646;

      &--value {
        &:nth-child(-n + 6) {
          background: #3f51b5;
        }
        &:nth-child(n + 34) {
          background: #b71c1c;
        }
      }

      &--black {
        background: black;
      }

      &--red {
        background: #f44336;
      }

      &--green {
        background: #4caf50;
      }
    }
  }
}
