body {
  font-size: 18px;
  background: #121212;
  margin: 0;
  padding: 0;
  color: #e1e1e1;
  font-family: 'Roboto';
  box-sizing: border-box;
}

#app {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'cats cats cats'
    'stats stats stats'
    'panel1 panel2 panel3';
}
